

.listArea{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
}

.topNavBtn:hover{
    color: #ef8a33;

}

.topNavBtnSelect{
    color: #ef8a33;
}

